/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap');


body{
  display: block;
  background: linear-gradient(to right, #EFEFBB, #D4D3DD);
  background-size:cover;
  background-repeat: no-repeat; 
  font-family: comic sans ms, serif;
  height: 100vh;
  min-width: 100vw;
  margin: 0;
  /* min-width: 330px; */
  /* background-color: grey; */
  box-sizing: border-box;
  background-attachment: fixed;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}


li{
  text-decoration: none;
}

 /* @media (max-height: 505px) {
  body{
    height:100%
  }
} */


@media (max-width: 380px) {
  .minWidth{
    min-width: 190px;
    height:100%;
  }
  
}

/* @media (max-width: 330px) {
  body{
    overflow-x: scroll;
    min-width: 100%;
  }
  
}  */

@tailwind base;
@tailwind components;
@tailwind utilities;